<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_my</string>
			<key>title</key>
			<string>修改个人资料</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_mystore</string>
			<key>title</key>
			<string>模块排序</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_mystore</string>
			<key>title</key>
			<string>我的排序</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_mystore</string>
			<key>title</key>
			<string>我的直客</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_mystore</string>
			<key>title</key>
			<string>线路查询</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_mystore</string>
			<key>title</key>
			<string>供应商查询</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>icon_mystore</string>
			<key>title</key>
			<string>通用</string>
		</dict>
	</array>
</array>
</plist>
