<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>pic</key>
			<string>v2_my_address_icon</string>
			<key>title</key>
			<string>意见反馈</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>v2_my_share_icon</string>
			<key>title</key>
			<string>清除缓存</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>pic</key>
			<string>v2_my_serviceonline_icon</string>
			<key>title</key>
			<string>关于大旅</string>
		</dict>
	</array>
</array>
</plist>
